<form class="busqueda-historial-form"
    [formGroup]="reactiveForm">
    <div class="field">
        <label>Desde: </label>
        <dx-date-box placeholder="Fecha desde"
            [acceptCustomValue]="false"
            [openOnFieldClick]="true"
            displayFormat="dd/MM/yyyy"
            formControlName="fechadesde">
        </dx-date-box>
    </div>

    <div class="field">
        <label>Hasta: </label>
        <dx-date-box placeholder="Fecha hasta"
            [max]="hoy"
            [acceptCustomValue]="false"
            [openOnFieldClick]="true"
            displayFormat="dd/MM/yyyy"
            formControlName="fechaasta">
        </dx-date-box>
    </div>

    <ion-button class="filter-button"
        (click)="onFilter()"
        [disabled]="!reactiveForm?.valid">Filtrar</ion-button>
</form>