<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title size="center"
            color="dark">
            <div class="app-header">
                <div class="app-header-image-container"><img src="/assets/icon/servicio_social.jpg">
                </div>
                <label class="app-header-title">SUBDIRECCIÓN DE SERVICIO SOCIAL UNIDAD REGIONAL
                    NORTE</label>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="admin-content-container">

        <div class="admin-content">
            <div class="admin-content-title">ENTRADAS DEL DÍA DE HOY</div>
            <app-tabla-historial [isOnlyToday]="true"
                [data]="historialDiario">
            </app-tabla-historial>
        </div>

        <div class="admin-content-form">
            <app-busqueda-historial (filtrar)="filtrar($event)"></app-busqueda-historial>
            <app-tabla-historial [isOnlyToday]="false"
                [data]="historialBusqueda">
            </app-tabla-historial>
        </div>
    </div>
</ion-content>